<section class="section">
  <div class="container">
    <section class="section products-table">
      <div class="columns table-header">
        <div class="column">Image</div>
        <div class="column">Product Description</div>
        <div class="column">Price</div>
        <div class="column">Quantity</div>
        <div class="column"></div>
      </div>
      <div id="shopping_cart">
        <div>
            <% @cart.orderables.each do |orderable| %>
              <% product = orderable.product %>
              <div class="columns product-row" id="<%= dom_id orderable %>">
                <div class="column product-image">
                  <%= image_tag(product.image, alt:"product_img") %>
                </div>
                <div class="column center-container">
                  <%= product.manufacture + ' ' + product.name %>
                </div>
                <div class="column center-container">
                  <%= number_to_currency product.price %>
                </div>
                <div class="column center-container">
                    <%= form_with(url: cart_add_path) do |f| %>
                        <%= f.hidden_field :id, value: product.id %>
                        <%= f.number_field :quantity, value: orderable.quantity, min: 0 %>
                        <%= f.submit "Update" %>
                    <% end %>
                    <%= form_with(url: cart_remove_path) do |f| %>
                        <%= f.hidden_field :id, value: orderable.id %>
                        <%= f.submit "Remove" %>
                    <% end %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </section>
    <section class="columns checkout">
        <div class="column submit-form">
            <div id="total">
            <span class="total">Subtotal: <%= number_to_currency @cart.total %> </span>
            </div>
            <div class="field is-grouped">
            <div class="column center-container">
                <%= button_to "Continue to Checkout", new_address_path, :method => :get %>
            </div>
            </div>
        </div>
    </section>
  </div>
</section>


