<div id="<%= dom_id customer %>">
  <p>
    <strong>Full name:</strong>
    <%= customer.full_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= customer.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= customer.notes %>
  </p>

  <p>
    <div class="card-image">
      <% if customer.image.present? %>
        <figure class="image">
          <%= image_tag customer.image %>
        </figure>
      <%end%>
    </div>
  </p>

</div>
