<div id="<%= dom_id address %>">
  <p>
    <strong>Name:</strong>
    <%= address.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= address.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= address.province %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= address.email %>
  </p>

</div>
