<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :province, style: "display: block" %>
    <div class="select">
        <%= form.select :province, @taxes.map { |c| [c.name, c.name] }, {:include_blank => true}  %>
    </div>
  </div>

    <section class="columns checkout">

        <div class="column submit-form" id="<%= dom_id @cart %>">
            <div id="subtotal">
            <span class="subtotal">Subtotal: <%= number_to_currency @cart.total %> </span>
            </div>
            <% if @tax %>
                <div id="pst">
                <span class="subtotal">Tax: <%= number_to_currency @tax.pst * @cart.total %> </span>
                </div>

                <div id="gst">
                <span class="subtotal">Tax: <%= number_to_currency @tax.gst * @cart.total %> </span>
                </div>

                <div id="total">
                <span class="subtotal">Total: <%= number_to_currency @cart.total * (1 + @tax.pst + @tax.gst) %> </span>
                </div>
            <% end %>

            <div class="field is-grouped">
                <div class="field is-grouped">
                <div class="control">
                    <%= form.submit "Continue to payment", style: "display: block" %>
                </div>
                <div class="control">
                    <%= link_to "Back to Shopping Cart", address, method: :delete %>
                </div>
                </div>
            </div>
        </div>
    </section>
<% end %>
