<% if flash[:notice] %>
  <p style="color: green"><%= notice %></p>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-multiline mt-5 is-8 is-variable" id="products">
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </div>
  </div>
</section>

<section class="page_section">
  <div class="container">
    <div class="columns is-centered">
      <%= paginate @products %>
    </div>
  </div>
</section>
 <!--
<%= form_with(scope: "category") do |f| %>
  <%= f.select :id, @categories.map { |c| [c.name, c.id] } %>
<% end %>
 -->



