<!DOCTYPE html>
<html>
  <head>
    <title>Simplitcity Bike store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>

  <body>
    <header>
      <nav class="navbar has-shadow is-white">
        <div class="navbar-brand">
          <a class="navbar-item">
            <%= image_tag("logos/logo.png", style: 'max-height: 200px')%>
          </a>
          <a class="navbar-burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <div class="navbar-menu" id="nav-links">
          <div class="navbar-end">
            <%= link_to "Home", products_path, class: "navbar-item" %>
            <span  class="navbar-item">Categories</span >
            <%= link_to "About", about_page_index_path, class: "navbar-item" %>
          </div>
        </div>
      </nav>

      <!-- breadcrumbs -->
      <div class="section pt-4 pb-0">
        <nav class="breadcrumb has-arrow-separator">
          <ul class="container is-size-6">
            <li><a class="has-text-grey">Home</a></li>
            <li><a class="has-text-grey">Categories</a></li>
            <li class="is-active"><a>Bikes</a></li>
          </ul>
        </nav>
      </div>

    </header>

    <%= yield %>

  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>Copy Cat 2022</p>
    </div>
  </footer>


</html>
